<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><title>Comment personnaliser le kit graphique</title>

<style type="text/css">
<!--
body {font-family: Verdana, Arial, Helvetica, sans-serif;font-size:11px}
.Style1 {color: #FF0000}
.Style3 {color: #339966}
.Style5 {color: #FF0000; font-weight: bold; }
.Style6 {color: #000000}
-->
</style></head><body>
<p><u>Remarques</u>:</p>
<p>-	A cause de restrictions imposées par la sécurité de  flash 9, sachez que ce kit graphique aura <span class="Style1"><strong>un comportement optimum quand il sera en ligne sur Internet</strong></span><strong>. </strong>Certains
effets ne fonctionneront pas de manière optimal lorsque vous
consulterez le kit graphique en local sur votre machine (notamment la
transition entre les pages) .<br />
</p>
<p>- A cause de restrictions imposées par la sécurité de  flash 9, vous devez utiliser le navigateur <span style="color: red; font-weight: bold;">Firefox&nbsp; </span><span style="color: red;"><span style="color: black;">si vous</span></span>
souhaiter tester votre site en local sur votre ordinateur. Votre site
web devrait apparaître correctement sur les autres navigateur (Internet
Explorer, Safari, Opera, Chrome...) lorsque vous mettrez votre site en
ligne sur Internet. </p>

<p>- Ce kit graphique est très facile à personnaliser : aucune
connaissance de la programmation en flash n'est nécessaire. Les
animations flash présentes dans ce kit sont personnalisables par le
biais d'une fichier XML et le contenu des pages est constitué de simple
(X)HTML.</p>
<p>- The zip file include dfGallery (an imageviewer,
http://dezinerfolio.com) and lightbox
(http://www.huddletogether.com/projects/lightbox2/).</p>
<p><u>Comment procéder </u>:</p>
<p><u>1. Comment personnaliser la page d'accueil?</u><br />
- Ouvrez le fichier <em>index.htm</em>
avec le bloc-note ou n'importe quel éditeur HTML de votre choix et
modifier le nom de votre site, le slogan de votre site, l'encart de
news, le copyright, etc.<br />
Le fichier index.htm est le fichier principal du kit graphique, cela
signifie que le modification que vous ferez dans ce fichier seront
visibles sur toutes les pages de votre site web.</p>
<p><u>2. Comment ajouter une nouvelle page / un nouveau bouton ?</u>  <br />
- Ouvez le fichier <em>index.htm</em>
avec le bloc-note ou n'importe quel éditeur HTML de votre choix et
ajouter le code suivant entre les lignes &lt;!-- Menu --&gt; and
&lt;!-- Menu end --&gt; :</p>
<p><br />
myButton('<span class="Style1"><em>LE NOM DE VOTRE PAGE </em></span>','<span class="Style1"><em>_lenomdemapage.htm</em></span>');<br />
</p>
<p>- Créer un fichier<span class="Style1"><em> _lenomdemapage.htm</em></span>
avec votre propre contenu HTML. Ne mettez pas les tags
&lt;html&gt;,&lt;head&gt;, &lt;body&gt;,... dans ce fichier car ce
fichier sera chargé à l'intérieur d'une div dans la page principale.</p>
<p><u><br />
  3. Comment personnaliser les boutons en flash ?</u> <br />
 Ouvrez et modifié le fichier button.xml file : Attention à ne <span class="Style5">PAS</span> ajouter "#" avant les codes couleur. <br />
    <br />
  &lt;?xml version='1.0' encoding='UTF-8' ?&gt;<br />
  &lt;button&gt;<br />
  &lt;item_default_bgcolor&gt;<span class="Style1">FFFFFF</span>&lt;/item_default_bgcolor&gt;<br />
  &lt;item_default_text_color&gt;<span class="Style1">B9B9B9</span>&lt;/item_default_text_color&gt;<br />
  &lt;item_mousover_text_color&gt;<span class="Style1">FFFFFF</span>&lt;/item_mousover_text_color&gt;<br />
&lt;item_mousover_bgcolor&gt;<span class="Style1">669AC6</span>&lt;/item_mousover_bgcolor&gt;<br />
&lt;item_default_bullet_color&gt;ffffff&lt;/item_default_bullet_color&gt;<br />
  &lt;item_mousover_bullet_color&gt;F47B33&lt;/item_mousover_bullet_color&gt;<br />
  &lt;item_font&gt;<span class="Style1">Trebuchet MS</span>&lt;/item_font&gt;&lt;!--utilisez <span class="Style5">"default"</span><span class="Style1"> <span class="Style6">:</span> <span class="Style6">&lt;item_font&gt;<span class="Style1">default</span>&lt;/item_font&gt;</span></span> pour un rendu optimal --&gt; <br />
  &lt;item_font_size&gt;<span class="Style1">16</span>&lt;/item_font_size&gt;<br />
  &lt;item_letter_spaceing&gt;<span class="Style1">0.2</span>&lt;/item_letter_spaceing&gt;<br />
  &lt;item_bold&gt;<span class="Style1">yes</span>&lt;/item_bold&gt;<br />
  &lt;item_x&gt;<span class="Style1">19</span>&lt;/item_x&gt;<br />
  &lt;item_y&gt;<span class="Style1">2</span>&lt;/item_y&gt;<br />
  &lt;item_play_sound&gt;<span class="Style1">yes</span>&lt;/item_play_sound&gt;<br />
  &lt;/button&gt; <br />
</p>
<p><u>4. Comment personnaliser la bannière flash ? </u><br />
Vous pouvez ajouter à la bannière autant d'images et de slogans que
vous le souhaitez, mais sachez trop d'images ralentiront le chargement
de votre bannière.<br />
Ouvrez et modifiez le fichier  custom.xml et remplacez les valeurs en rouge par les vôtres.  Attention à ne <span class="Style5">PAS</span> ajouter "#" avant les codes couleur. </p>
<p>&lt;?xml version='1.0' encoding='UTF-8' ?&gt;<br />
  &lt;header_vars&gt;<br />
  <span class="Style3">&lt;!-- couleur de "la note de musique" permettant d'arrêter ou redémarrer la musique--&gt; </span><br />
  &lt;graphics_color&gt;<span class="Style1">FFFFFF</span>&lt;/graphics_color&gt;<br />
&lt;animation_loop&gt;<span class="Style1">no</span>&lt;/animation_loop&gt;<br />
<span class="Style3">&lt;!-- temps de transition (en secondes) entre 2 annimations --&gt;</span><br />
&lt;transition_time_seconds&gt;5&lt;/transition_time_seconds&gt;</p>
<p>&lt;header&gt;<br />
  &lt;text_header_h1 x_pos="<span class="Style1">5</span>" y_pos="<span class="Style1">55</span>" size="<span class="Style1">19</span>" letter_spacing="<span class="Style1">0</span>" text_color="<span class="Style1">FFFFFF</span>"&gt;<span class="Style1">YOUR WAY TO SUCCESS</span>&lt;/text_header_h1&gt;<br />
  &lt;text_header_h2 x_pos="<span class="Style1">10</span>" y_pos="<span class="Style1">80</span>" size="<span class="Style1">10</span>" letter_spacing="<span class="Style1">1.9</span>" text_color="<span class="Style1">FFFFFF</span>"&gt;<span class="Style1">YOUR OWN SLOGANS AND IMAGES</span>&lt;/text_header_h2&gt; <br />
  &lt;image&gt;<span class="Style1">images/flashimages/your_image2.jpg</span>&lt;/image&gt;<br />
  &lt;/header&gt; <br />
  &lt;header&gt;<br />
  .....<br />
  &lt;/header&gt; <br />
  &lt;header&gt;<br />
  ....<br />
&lt;/header&gt; </p>
<p><span class="Style3">&lt;!--<br />
</span><span class="Style3">Changez  play_music="<span class="Style1">no</span>" si vous ne souhaitez pas ajouter de musique à votre bannière <br />
Changez music_contro="<span class="Style1">no</span>" si vous ne souhaitez pas ajouter  "la note de musique" permettant d'arrêter ou redémarrer la musique</span><br />
<span class="Style3">Si vous avez  music_file loop="<span class="Style1">no</span>" vous devez IMPERATIVEMENT mettre   music_control="no"</span><br />
  <span class="Style3">--&gt; </span><br />
&lt;music_file loop="<span class="Style1">no</span>" music_control="<span class="Style1">no</span>" play_music="<span class="Style1">yes</span>"&gt;<span class="Style1">sounds/music.mp3</span>&lt;/music_file&gt;<br />
  <br />
  <span class="Style3">&lt;!-- vous pouvez remplacer la ligne ci-dessous par &lt;play_transition_sound_file&gt;<span class="Style1">no</span>&lt;/play_transition_sound_file&gt; --&gt; </span><br />
&lt;play_transition_sound_file&gt;<span class="Style1">yes</span>&lt;/play_transition_sound_file&gt;<br />
  <br />
  <span class="Style3">&lt;!-- ous pouvez remplacer la ligne ci-dessous par  &lt;display_preload graphic_color="<span class="Style1">669ac6</span>"&gt;<span class="Style1">no</span>&lt;/display_preload&gt; si vous ne souhaitez pas afficher le loader de l'annimation--&gt; </span><br />
&lt;display_preload graphic_color="<span class="Style1">669ac6</span>"&gt;yes&lt;/display_preload&gt;<br />
  <br />
  <br />
&lt;replay display="<span class="Style1">yes</span>" x_pos="<span class="Style1">493</span>" y_pos="<span class="Style1">135</span>" size="<span class="Style1">8</span>" letter_spacing="<span class="Style1">1</span>" bgd_color="<span class="Style1">FFFFFF</span>" text_color="<span class="Style1">000000</span>"&gt; REPLAY&lt;/replay&gt;<br />
&lt;/header_vars&gt;</p>
<p><u>5. Comment configurer le formulaire de contact ? </u><br />
Votre formulaire de contact ne fonctionnera que lorsque votre site web sera en ligne et hébergé  par un serveur PHP.<br />
Ouvrez le fichier  contact.php et modifier la ligne suivante  :<br />
<br />
$your_email = "<span class="Style1">example@example.com</span>";</p>
<p><u>6. Comment configurer la gallerie d'image ?</u> <br />
http://www.dezinerfolio.com/system/files/Manual.zip</p>
<p><u>6.comment mettre en place l'effet d'agrandissement des images (lightbox) ?</u><br />
Ajoutez l'attribut<em> rel="lightbox"</em> aux liens pour activer l'effet lightbox. Par exemple: <br />
&lt;a href="images/image-big-1.jpg" rel="lightbox" title="Optional
caption"&gt;&lt;img src="images/image-small-1.jpg" alt="my photo"
/&gt;&lt;/a&gt;<br /><br />
</p>
</body></html>