															
		<h1>CONTACT INFORMATIONS</h1>
		<img src="images/image9.jpg" class="left" alt="image" title="image"/>
		<br/><br/>
		<p class="left"><strong>YOUR NAME</strong> <br/> 
		12 Silver Road, NEW-York, CA91064<br/> 
		<strong>Toll Free</strong>: 1-811-123-1234<br/>
		<strong>Office</strong>: 1-811-123-1234<br/>
		<strong>Fax</strong>: 1-811-123-1234<br/>			
	<strong>Mail</strong>: <a href="mailto:yourmail@yoursite.com">yourmail@yoursite.com</a></p>
		
		<div class="clearboth"></div>
		<br/>						
		<br/>
		<h1>CONTACT FORM</h1>
		<br/>
		<form method="post" action="contact.php">
		<fieldset><legend>your informations</legend>
		<p><label for="name" class="text">Full name :</label><input class="text" type="text" name="name" id="name"></p>
		<p><label for="email" class="text">Email Address :</label><input class="text" type="text" name="email"  id="email" ></p>
		<p><label for="telephone" class="text">Telephone :</label><input class="text" type="text" name="telephone"  id="email" ></p>
		</fieldset>
		<fieldset><legend>your message</legend>
		
		<p><label for="subject" class="text">Subject :</label><input class="text" type="text" name="subject" id="subject"></p>
		<p><label for="message" class="text">Message :</label><textarea class="text" name="message" id="message"></textarea></p>
		<p><label class="text">&nbsp;</label></p>
		</fieldset>
		<p class="center"><input class="button" type="submit" value="Send"></p>
		</form>
															

																		