		<!-- Header_id -->
		<div id="header_id"></div>
		<script type="text/javascript">
				var hasRightVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
				if(hasRightVersion) {
					myFlashHeader('flash/header',570,400,'#000000','header_id','custom.xml');
			} else {
				alert("Your version of Flash player is rather old. We suggest you to upgrade your Flash player to version "+requiredMinorVersion+" (at least).The latest version  can be downloaded here : http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash.");
				}
			
		</script>
		
		
		<div id="anim_line"></div>
		<table>
			<tr>
				<td style="width:50%;vertical-align:top;padding-right:15px;">
					<h1>FEW WORD ABOUT ME</h1>
			<a href="images/image3-big.jpg" rel="lightbox" title="Optional caption."><img src="images/image3.jpg" class="highlight left" alt="flash template default photo" /></a>																																				
			<h2>Lorem ipsum amet</h2>
			<p  class="justify">Praesent dignissim, lectus pharetra blandit cursus, urna nibh sagittis nulla, et pellentesque lorem sapien vel.</p>																	
			<p  class="justify">Praesent dignissim, lectus pharetra blandit cursus, urna nibh sagittis nulla, et <a href="javascript:showPage('_about.htm');">pellentesque lorem</a>.</p>																	
			<br/>
			<p  class="justify">Praesent dignissim, nibh lectus pharetra blandit cursus, urna nibh sagittis nibh nulla.</p>																	
			<br/>
				</td>
				<td style="width:50%;vertical-align:top; padding-left:5px;">
			<h1>WELCOME TO MY WEBSITE</h1>
			<a href="images/image1-big.jpg" rel="lightbox" title="Optional caption."><img src="images/image1.jpg" class="highlight left" alt="flash template default photo" /></a>																																				
			<h2>Lorem ipsum amet</h2>
			<p  class="justify">Praesent dignissim, lectus pharetra blandit cursus, urna nibh sagittis nulla, et pellentesque lorem sapien vel. &nbsp;&nbsp;&nbsp;<a href="javascript:showPage('_about.htm');" class="arrow_link">Read more</a></p>																	
			
			<br/>
			<a href="images/image2-big.jpg" rel="lightbox" title="Optional caption."><img src="images/image2.jpg" class="highlight left" alt="flash template default photo" /></a>																		
			<h2>Lorem ipsum amet</h2>
			<p  class="justify">Praesent dignissim, lectus pharetra blandit cursus, urna nibh sagittis nulla, et pellentesque lorem sapien vel. &nbsp;&nbsp;&nbsp;<a href="javascript:showPage('_about.htm');" class="arrow_link">Read more</a></p>																	
			<br/>																		
			
			<br/>																		
				</td>																			
			</tr>
		</table>
		

